<tdl-header></tdl-header>
<div class="row m-3" >
  <div class="col-md-8 col-xs-12">
    <tdl-home></tdl-home>
      <tdl-tasks></tdl-tasks>
  </div>
  <div class="col-md-4 col-xs-6">
    <div class="card bg-light mb-3">
      <div class="card-header ">
        <h3>  <i class="fa fa-github "></i>&nbsp;&nbsp;Fontes</h3>
      </div>
        <div class="card-body ">
          <b>GIT:</b>&nbsp;<a href="https://github.com/akusano/TDL" target="_blank" class="link" >https://github.com/akusano/TDL</a>
        </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-header">
        <h3>  <i class="fa fa-windows "></i >&nbsp;&nbsp;WPF Client</h3>
      </div>
        <div class="card-body">
          <b>Download:</b>&nbsp;<a href="https://drive.google.com/open?id=1fn3y65gZBwYJpWCN9Oha7Yqcqif0GHak" target="_blank" class="link">wpf-client.zip</a>
        </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-header">
        <h3>  <i class="fa fa-database "></i >&nbsp;&nbsp;API</h3>
      </div>
        <div class="card-body">
          <a href="http://tdl201801.azurewebsites.net/help" class="link" target="_blank">TDL-API</a>
        </div>
    </div>
  </div>
</div>
